version: '3'

services:
  back-end:
    container_name: back-end
    restart: unless-stopped
    image: hack-back-end
    build:
      context: back-end
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    networks:
      - hackathon

  front-end:
    container_name: front-end
    restart: unless-stopped
    image: hack-front-end
    build:
      context: front-end
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    networks:
      - hackathon
    depends_on:
      - back-end

networks:
  hackathon: