# langchain related
langchain
langchain-serve
psycopg2-binary
#psycopg2cffi
pandas
datasets 
sentence-transformers

# huggingface related
transformers # to adapt llama2
accelerate
tokenizers
unstructured[local-inference]

# Flask API related
flask
pyjwt

numpy

# vectorstore related
faiss-cpu


